<div class="container">
  <div class="row ">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">DOB</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of Users; index as i;">
          <th scope="row">{{i+1}}</th>
          <td>{{user.ID}}</td>
          <td>{{user.Name}}</td>
          <td>{{user.DOB | date:'fullDate'}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>